html, input {
	font-family:"Source Sans Pro";
}

input[type='text'] {
	font-size:0.9em;
	margin:0.2em 0em;
}

body {
	background-color:#2C5F7A;
}

h4 {
	font-weight:400;
	background-color:#5393BF;
	padding:2px 7px;
	border-radius:12px;
	width:40%;
	position:relative;
	top:-12px;
	border:1px solid #000;
	z-index:1;
	margin-before:0;
	margin-after:0;
}

.center {
	text-align:center;
}

#content-wrapper {
	width:700px;
	margin:0 auto;
	background-color:#C5C7AE;
	padding:10px;
}

header {
	font-size:1.7em;
	text-align:center;
	font-weight:300;
}

footer {
	font-size:0.6em;
	text-align:center;
	width:500px;
	margin:0 auto;
}

button {
	background-color:#5393BF;
	border-color:#000;
	margin:0px 3px;

	&:active {
		background-color:#2C87C5;
	}
}

.tool {
	background-color:#B6B787;
	margin:25px 0px 0px 0px;
	padding:0px 7px;
	padding-bottom:7px;
}

.ship {
	width:250px;
	background-color: #C5C7AE;
	display:inline-block;
	padding:5px;
}

.shipPic {
	width:95px;
	height:70px;
	margin:0 auto;
	background-image:url("ships/sloop.png");
	background-repeat:no-repeat;
	background-position:center;
}

.shipInfo {
	text-align:center;
}

.buttons {

	text-align:center;

	&>button {
		width:100px;
	}
}

.mid {
	margin:0px 10px;
	padding-bottom:5px;
	display:inline-block;
	width:140px;
	height:auto;
	text-align:center;
	background-color: #C5C7AE;
}

.vs {
	font-size:2.1em;
	font-weight:300;
}

.own {
	
}

.opponent {
	
}

.row {
	margin-top:3px;
}

.left {
	width:100px;
	display:inline-block;
	text-align:right;
	padding-right:3px;
}

a {
	text-decoration:none;
	color:#0029FF;

	&:hover {
		text-decoration:underline;
	}

	&:hover, :visited, :active {
		color:#0029FF;
	}
}